/* Styles for the Navigation Bar */

.page-nav {
  background-color: #1d1d1d;
  line-height: 6 rem;
  font-size: 1.7 rem;
  }
 
.page-nav .container {
  display: -ms -flexbox;
  display: flexbox;
  }


nav .page-nav a {
  display: block;
  min-width: 9 rem;
  padding: 0 1.8 rem;
  border-right: 1px dotted #3d3d3d;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #c3c3c3;
  text-shadow: 0 1px 0 #000;
}

.page-nav a:first-child {
   border-left: 1px dotted #3d3d3d;
}

.page-nav a:hover {
   color: #e4e4e4;
  background-color:black;
}
